[submodule "kpsr-build"]
	path = kpsr-build
	url = https://github.com/klepsydra-technologies/kpsr-build.git
[submodule "thirdparties/googletest"]
	path = thirdparties/googletest
	url = https://github.com/klepsydra-technologies/googletest.git
[submodule "thirdparties/benchmark"]
	path = thirdparties/benchmark
	url = https://github.com/google/benchmark.git
